@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@100;400&display=swap');

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh;
  background-color: whitesmoke;
  
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 5rem;
}


.buttons {
  display: flex;
  padding: 3rem;
  justify-content: center;
}

.buttons button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 1.5rem;
  margin: 2rem;
  width: 10rem;
  border-radius: 2rem;
  background-color: #61dafb;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  
}

.form label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 1.5rem;
  justify-content: center;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
